<table *ngIf="this.currentBatters.batters.length > 0">
    <thead>
        <th></th>
        <th class="number">R</th>
        <th class="number">B</th>
        <th class="number">4s</th>
        <th class="number">6s</th>
        <th class="number">SR</th>
    </thead>
    <tr *ngFor="let batter of this.currentBatters.batters" class="batter"
        [ngClass]="{'highlighted': batter.currentPlayer=='OnStrike'}">
        <td class="name">{{batter.name}} <span nowrap="nowrap">{{batter.surname}}<span
                    *ngIf="batter.currentPlayer=='OnStrike'">*</span></span></td>
        <td class="number">{{batter.runs}}</td>
        <td class="number">{{batter.balls}}</td>
        <td class="number">{{batter.fours}}</td>
        <td class="number">{{batter.sixes}}</td>
        <td class="number">{{batter.strikeRate|number:'1.0-0'}}</td>
    </tr>
</table>
<!--<pre>{{this.currentBatters|json}}</pre>-->