.player-change {
	font-size: 0.9em;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 4px;
	min-width: 50px;
}

#selected-player-name {
	font-size: 1.2em;
	font-weight: bold;
}

.player-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

#player-selector:hover {
	cursor: pointer;
}

#playerSelectorDialog {
	min-height: 40vh;
}

.lineup-heading {
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 10px;
}

.playerSelectorToggle {
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: lightgrey;
	padding: 0.5em;
	margin: 0.5em;
	border-width: 1pt;
	border-radius: 6px;
}

.playerSelectorToggle:hover {
	cursor: pointer;
	text-decoration: underline;
}

.teamLogo {
	height: 2rem;
}