<div class="toaster-container" *ngIf="messages.length > 0">
	<div class="toaster-actions">
		<button class="toaster-clear" type="button" (click)="clearAll()">
			Clear all Notifications
		</button>
	</div>
	<div
		class="toaster"
		#toastElement
		[attr.data-id]="toast.id"
		*ngFor="let toast of messages"
		[ngClass]="toast.type"
		(touchstart)="onTouchStart($event, toast.id)"
		(touchmove)="onTouchMove($event, toast.id)"
		(touchend)="onTouchEnd(toast.id)"
		[ngStyle]="getToastStyle(toast.id)"
	>
		<div class="toaster-content">
			<img
				*ngIf="toast.iconPath"
				class="toaster-icon"
				[src]="toast.iconPath"
				alt="notification icon"
			/>
			<div class="toaster-text">
				<p class="toaster-title" *ngIf="toast.title">{{ toast.title }}</p>
				<p class="toaster-message">{{ toast.message }}</p>
			</div>
		</div>
		<button
			*ngIf="toast.dismissible"
			class="toaster-dismiss"
			type="button"
			(click)="dismissMessage(toast.id); $event.stopPropagation()"
			aria-label="Dismiss notification"
		>
			×
		</button>
	</div>
</div>
  