.score {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: calc(100% - 5em - 40px);
}

.team-name {
    font-size: 1.6em;
    overflow-wrap: anywhere;
}

.team-logo {
    height: 5em;
    width: 5em;
    object-fit: contain;
}

.a .score {
    float: right;
}

.a .team-logo {
    float: left;
}

.a .runs {
    float: right;
}

@media only screen and (max-width: 600px) {
    .a .score {
        float: left;
    }

    .a .runs {
        float: left;
    }

    .a .team-logo {
        float: right;
    }
}

.b .score {
    float: left;
}

.b .team-logo {
    float: right;
}

.b .runs {
    float: left;
}

.runs {
    font-size: 3em;
    font-weight: 700;
}

.a, .b {
    cursor: pointer;
}

.detail {
    clear: both;
    text-align: center;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-left {
    flex: 1;
    text-align: left;
}

.detail-center {
    flex: 1;
    text-align: center;
}

.detail-right {
    flex: 1;
    text-align: right;
}