.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

.box {
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 500px;
    max-width: 820px;
}

.small-box {
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 400px;
}

.card.team-score-card {
    cursor: pointer;
    transition: all 0.2s ease;
}

.card.team-score-card:hover:not(.selected) {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.card.selected {
    outline: 3px solid #396157;
    outline-offset: -3px;
    box-shadow: 0 8px 24px rgb(19, 34, 31);
    background-color: #fff;
}

@media only screen and (max-width: 860px) {
    .container {
        max-width: 400px;
    }

    .small-box {
        flex-basis: 100%;
    }

    .box {
        flex-basis: 100%;
    }

    .run-comparison {
        padding: 0px;
    }
}

.fixture {
    text-align: center;
}

.summary {
    text-align: center;
}

.result {
    font-size: 1.5em;
    color: rgb(2, 49, 16);
}

.toss {
    text-align: center;
}

.innings-detail-label {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: #203f38;
}

.no-match {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.pin-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .pin-icon span {
    font-size: 1rem;
  }