<div class="container">
    <div class="card">
        <div class="card-header" for="urlInput">Wynberg Fixtures</div>
        <a href="./wynberg">All Wynberg Fixtures</a>
    </div>
    <br>
    <div class="card">
        <div class="card-header" for="urlInput">Generate URL from Game ID</div>
        <input type="text" id="urlInput" placeholder="Game ID" (change)="onGameIdChange($event)"> <span> URL: </span><a
            href="{{this.url}}">{{this.url}}</a>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Search by Team Name</div>
        <input #TeamName type="text" placeholder="Team Name" (keypress)="onKeyPress($event, TeamName.value)"><button
            (click)="this.loadFixtures(TeamName.value)">Search</button>
        <table>
            <thead>
                <th>Match</th>
                <th>Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let fixtureSummary of this.fixtureSummaries.fixtureSummaries|sortFixtures">
                    <td>
                        <a href="./match/{{fixtureSummary.matchKey}}">{{fixtureSummary.game}}</a>
                    </td>
                    <td>
                        {{fixtureSummary.datePlayed|date: 'longDate'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>