.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    flex: 1 1 100%;
}

.small-box {
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 400px;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 400px;
    }
    .small-box {
        flex-basis: 100%;
    }
}

.fixture {
    text-align: center;
}

.summary {
    text-align: center;
}

.result {
    font-size: 1.5em;
}

.no-match {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}