.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    flex: 1 1 100%;
}

.small-box {
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 400px;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 400px;
    }
    .small-box {
        flex-basis: 100%;
    }
}

.fixture {
    text-align: center;
}

.score {
padding-left: 20px;
padding-right: 20px;
}

.team-name {
    font-size: 1.6em;
}

.team-logo {
    height: 5em;
}

.a .score {
    float: right;
}

.a .team-logo {
    float: left;
}

.a .runs {
    float: right;
}

@media only screen and (max-width: 600px) {
    .a .score {
        float: left;
    }

    .a .runs {
        float: left;
    }

    .a .team-logo {
        float: right;
    }
}

.b .score {
    float: left;
}

.b .team-logo {
    float: right;
}

.b .runs {
    float: left;
}

.runs {
    font-size: 3em;
    font-weight: 700;
}

.detail {
    clear: both;
    text-align: center;
}

.summary {
    text-align: center;
}

.result {
    font-size: 1.5em;
}