<div class="container">
  <div class="box">
    <label for="urlInput">Game ID:</label>
    <input type="text" id="urlInput" [(ngModel)]="gameId" placeholder="Enter Game ID"><button
      (click)="loadGame(this.gameId)">Load Match</button>
    <select (change)="onMatchSelect($event)">
      <option></option>
      <option value="395524">Wynberg BHS U14 A vs RONDEBOSCH U14 A</option>
      <option value="P3E102Jun2022">Port B vs Eduplex</option>
      <option value="395528">Wynberg BHS 1st XI vs Rondebosch BHS 1st XI</option>
      <option value="382527">Protearif 1 vs Daggies 0/11</option>
      <option value="U1U201Oct2023">UWC Ladies vs UCT Ladies</option>
      <option *ngFor="let fixture of this.fixtures.fixtures" [value]="fixture.gameId">{{fixture.game}} - {{fixture.date}}</option>
    </select>
    <input type="text" [(ngModel)]="currentInnings">
  </div>
  <ng-container *ngIf="match.gameID; else noMatch">
    <div class="box fixture">
      <h1>{{this.match.game}}</h1>
      <span>{{this.match.fixtureDate}} | {{this.match.venueDescription}}</span>
      <div *ngIf="match.tossWonByTeam" class="toss">{{match.tossWonByTeam}} won the toss and decided to
        {{match.decidedTo}}</div>
    </div>
    <div class="small-box card ">
      <app-team-score [teamScore]="this.teamAScore" [teamNumber]="1"></app-team-score>
    </div>
    <div class="small-box card">
      <app-team-score [teamScore]="this.teamBScore" [teamNumber]="2"></app-team-score>
    </div>
    <div class="box summary">
      <div class="result">{{match.result}}</div>
      <div *ngIf="match.RunsRequired" class="runRequired">{{match.RunsRequired}}</div>
    </div>
    <div class="small-box card">
      <app-current-batters *ngIf="currentInnings==1" [currentBatters]="this.innings1Detail.currentBatters"></app-current-batters>
      <app-current-batters *ngIf="currentInnings==2" [currentBatters]="this.innings2Detail.currentBatters"></app-current-batters>
    </div>
    <div class="small-box card">
      <app-current-bowlers  *ngIf="currentInnings==1" [currentBowlers]="this.innings1Detail.currentBowlers"></app-current-bowlers>
      <app-current-bowlers  *ngIf="currentInnings==2" [currentBowlers]="this.innings2Detail.currentBowlers"></app-current-bowlers>
    </div>
    <div class="small-box card">
      <app-recent-balls *ngIf="currentInnings==1" [recentBalls]="this.innings1Detail.recentOvers"></app-recent-balls>
      <app-recent-balls *ngIf="currentInnings==2" [recentBalls]="this.innings2Detail.recentOvers"></app-recent-balls>
    </div>
    <div class="small-box card">
      <app-fall-of-wickets *ngIf="currentInnings==1" [fallOfWickets]="this.innings1Detail.fallOfWickets"></app-fall-of-wickets>
      <app-fall-of-wickets *ngIf="currentInnings==2" [fallOfWickets]="this.innings2Detail.fallOfWickets"></app-fall-of-wickets>
    </div>
    <div class="small-box card">
      <app-batting-scorecard *ngIf="currentInnings==1" [scorecard]="this.innings1Detail.battingScorecard"></app-batting-scorecard>
          <app-batting-scorecard *ngIf="currentInnings==2" [scorecard]="this.innings2Detail.battingScorecard"></app-batting-scorecard>
    </div>
    <div class="small-box card">
      <app-bowling-scorecard *ngIf="currentInnings==1" [scorecard]="this.innings1Detail.bowlingScorecard"></app-bowling-scorecard>
          <app-bowling-scorecard *ngIf="currentInnings==2" [scorecard]="this.innings2Detail.bowlingScorecard"></app-bowling-scorecard>
    </div>
  </ng-container>

  <ng-template #noMatch>
    <div class="no-match">Please select a Match to load</div>
  </ng-template>
  <app-refresh-timer #refreshTimer (timerTriggered)="onRefreshTimer()"></app-refresh-timer>

  <pre>{{this.innings1Detail.battingScorecard|json}}</pre>