<div class="container">
  <div class="box">
    <label for="urlInput">Game ID:</label>
    <input type="text" id="urlInput" [(ngModel)]="gameId" placeholder="Enter Game ID"><button
      (click)="loadGame(this.gameId)">Load Match</button>
    <select (change)="onMatchSelect($event)">
      <option></option>
      <option value="395524">Wynberg BHS U14 A vs RONDEBOSCH U14 A</option>
      <option value="P3E102Jun2022">Port B vs Eduplex</option>
      <option value="395528">Wynberg BHS 1st XI vs Rondebosch BHS 1st XI</option>
      <option value="382527">Protearif 1 vs Daggies 0/11</option>
      <option value="U1U201Oct2023">UWC Ladies vs UCT Ladies</option>
    </select>
  </div>
    <div class="box fixture">
      <h1>{{this.match.game}}</h1>
      <span>{{this.match.fixtureDate}} | {{this.match.venueDescription}}</span>
      <div *ngIf="match.tossWonByTeam" class="toss">{{match.tossWonByTeam}} won the toss and decided to
        {{match.decidedTo}}</div>
    </div>
    <div class="small-box team a card ">
      <img class="team-logo" src="assets/logos/small_{{match.aLogoName}}">
      <div class="score">
        <div class="team-name">{{match.aTeam}}</div>
        <div class="runs">{{match.aRuns}}<span *ngIf="match.aWickets > 0">/{{match.aWickets}}</span></div>
      </div>
      <div class="detail">
        <div>Overs: {{match.aOvers}}</div>
        <div>Extras: {{match.aExtras}}</div>
        <div>Run Rate: {{match.ARunRate}}</div>
      </div>
    </div>
    <div class="small-box team b card">
      <img class="team-logo" src="assets/logos/small_{{match.bLogoName}}">
      <div class="score">
        <div class="team-name">{{match.bTeam}}</div>
        <div class="runs">{{match.bRuns}}<span *ngIf="match.bWickets > 0">/{{match.bWickets}}</span></div>
      </div>
      <div class="detail">
        <div>Overs: {{match.bOvers}}</div>
        <div>Extras: {{match.bExtras}}</div>
        <div>Run Rate: {{match.bRunRate}}</div>
      </div>
    </div>

    <div class="box summary">
      <div class="result">{{match.result}}</div>
      <div *ngIf="match.RunsRequired" class="runRequired">{{match.RunsRequired}}</div>
    </div>

    <div class="small-box card">
      <app-current-batters [currentBatters]="this.batting"></app-current-batters>
    </div>
    <div class="small-box card"><app-current-bowlers [currentBowlers]="this.bowling"></app-current-bowlers>
    </div>
    <div class="small-box card" >
      <app-recent-balls [recentBalls]="this.recentBalls"></app-recent-balls>
    </div>

</div>