<div class="card-header">Batting</div>
<div class="box">
    <input type="checkbox" [(ngModel)] = "allBatters">Full Scorecard
  </div>
<table>
    <thead>
        <th></th>
        <th>Batter</th>
        <th></th>
        <th>R</th>
        <th>B</th>
        <th>4</th>
        <th>6</th>
        <th>SR</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let batter of scorecard.batters | visible:this.allBatters">
            <tr *ngIf="batter.howOutFull != 'dnb' && batter.howOutFull !=''"
                [ngClass]="{'highlighted':batter.batting, 'secondary':!batter.onStrike}">
                <td>{{batter.batterNumber}}</td>
                <td>{{batter.firstname}} {{batter.surname}}<span *ngIf="batter.onStrike"> *</span></td>
                <td class="how-out">{{batter.howOutFull}}</td>
                <td>{{batter.runs}}</td>
                <td>{{batter.balls}}</td>
                <td>{{batter.fours}}</td>
                <td>{{batter.sixes}}</td>
                <td>{{batter.strikeRate|number:'1.0-0'}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<br>
<ng-container *ngIf="scorecard.stillToBat.length > 0">
    <span class="still-to-bat">Still to bat:</span><br>
    <span *ngFor="let batter of scorecard.stillToBat">{{batter}}, </span>
</ng-container>