.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

.box {
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 500px;
    max-width: 820px;
}

.small-box {
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 400px;
}

@media only screen and (max-width: 860px) {
    .container {
        max-width: 400px;
    }

    .small-box {
        flex-basis: 100%;
    }

    .box {
        flex-basis: 100%;
    }

    .run-comparison {
        padding: 0px;
    }
}

.fixture {
    text-align: center;
}

.summary {
    text-align: center;
}

.result {
    font-size: 1.5em;
    color: rgb(2, 49, 16);
}

.toss {
    text-align: center;
}

.view-innings {
    padding-left: 2.5em;
    text-align: center;
}

.view-innings:hover {
    cursor: pointer;
}

.view-innings.selected {
    color: black;
    border: 1pt solid black;
    background-color: white;
    font-weight: bold;
}

.view-innings.selected:hover {
    cursor: default;
}

.no-match {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.pin-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .pin-icon span {
    font-size: 1rem;
  }