
tr.not-out {
    font-weight: bold;
    background-color: aqua;
}

td.how-out {
    font-size: 0.8em;
}

.still-to-bat {
    font-weight: bold;
}

.player-name.clickable {
  cursor: pointer;
  color: #1a73e8;
  transition: color 0.2s ease;
}

.player-name.clickable:hover {
  color: #0d6efd;
}