/* modal-dialog.component.css */
.modal-overlay {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10001;
  }
  
  .modal-container {
	background: #fff;
	border-radius: 8px;
	width: 90%;
	max-width: 500px;
	max-height: 90vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  }

  @media only screen and (max-width: 860px) {
	.modal-container {
	  width: 95%;
	  max-width: none;
	}
  }
  
  .modal-header {
	padding: 0.1rem;
	padding-left: 1rem;
	background: rgb(114, 140, 162);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .close-button {
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
  }
  
  .modal-body {
	padding: 1rem;
	overflow-y: auto;
	flex: 1;
  }
  
  .modal-footer {
	padding: 0.5rem;
	background: #f1f1f1;
	text-align: right;
  }
  
	.modal-title {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	}

	.title-icon {
	font-size: 1.2rem;
	}

	#title {
	font-size: 1.2rem;
	font-weight: bold;
  }