body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(214, 215, 217);
}

/* Apply different font sizes at different screen widths */
@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
        /* Font size for screens up to 768px width */
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 10px;
        /* Font size for screens up to 576px width */
    }
}

h1 {
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    padding: 1em;
}

table {
    border: none;
    border-collapse: collapse;
}

tr.highlighted {
    background-color: rgb(165, 194, 223);;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

td, th {
    text-align: left;
    padding: 0.4em;
}