<div class="container">
    <div class="pin-icon" (click)="toggleWakeLock()" *ngIf="showWakeLock">
        <span [ngClass]="isWakeLockActive ? 'material-icons' : 'material-icons-outlined'">push_pin</span>
    </div>
    <ng-container *ngIf="fixture.gameId; else noMatch">
        <div class="box fixture">
            <h1>{{this.fixture.game}}</h1>
            <div class="result">{{status.result}}</div>
            <div *ngIf="status.runsRequired !='NotOn'" class="runRequired">{{status.runsRequired}}</div>
        </div>
        <div class="small-box card ">
            <app-team-score [teamNumber]="1"></app-team-score>
        </div>
        <div class="small-box card">
            <app-team-score [teamNumber]="2"></app-team-score>
        </div>
        <div *ngIf="status.tossWonByTeam" class="box toss">{{status.tossWonByTeam}} won the toss and decided to
            {{status.decidedTo}}
        </div>
        <div class="box view-innings">
            <input type="radio" name="innings" id="innings1" [value]="1" [(ngModel)]="viewingInnings"><label
                for="innings1"> 1st Innings</label>
            <input type="radio" name="innings" id="innings2" [value]="2" [(ngModel)]="viewingInnings"><label
                for="innings2"> 2nd Innings</label>
        </div>
        <div class="small-box card">
            <app-batting-scorecard *ngIf="viewingInnings==1" [teamNumber]="1"></app-batting-scorecard>
            <app-batting-scorecard *ngIf="viewingInnings==2" [teamNumber]="2"></app-batting-scorecard>
        </div>
        <div class="small-box card">
            <app-recent-balls *ngIf="viewingInnings==1" [inningsNumber]="1"></app-recent-balls>
            <app-recent-balls *ngIf="viewingInnings==2" [inningsNumber]="2"></app-recent-balls>
        </div>
        <div class="small-box card">
            <app-bowling-scorecard *ngIf="viewingInnings==1" [teamNumber]="2"></app-bowling-scorecard>
            <app-bowling-scorecard *ngIf="viewingInnings==2" [teamNumber]="1"></app-bowling-scorecard>
        </div>
        <div class="small-box card">
            <app-fall-of-wickets *ngIf="viewingInnings==1" [innings]="1"></app-fall-of-wickets>
            <app-fall-of-wickets *ngIf="viewingInnings==2" [innings]="2"></app-fall-of-wickets>
        </div>
        <div class="small-box card run-comparison">
            <app-run-comparison></app-run-comparison>
        </div>
        <div class="small-box card"><app-wagon-wheel></app-wagon-wheel></div>
    </ng-container>
    <ng-template #noMatch>
        <div *ngIf="this.parameterGameKey == '' && !gameId" class="no-match">Please select a Match to load</div>
        <div *ngIf="this.parameterGameKey != '' || gameId" class="no-match">Loading match data...</div>
    </ng-template>
    <app-refresh-timer #refreshTimer (timerTriggered)="onRefreshTimer()" *ngIf="showRefreshTimer"></app-refresh-timer>
</div>