  #pieChartIcon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  
  .wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
  }
  
  .wrapper #pieChartIcon {
    pointer-events: auto;
  }