<div class="container" *ngIf="showSearchBox">
  <label for="teamName">Enter Team Name:</label>
  <input 
    type="text" 
    id="teamName" 
    name="teamName" 
    placeholder="Type team name here" 
    [(ngModel)]="teamNameSearch"
    (keyup)="onSearchInput()">
  <button (click)="searchTeam()">Search</button>
</div>

<div class="container" *ngIf="teamNamesFromSearch.length > 0">
  <label for="uniqueTeams">Select Team:</label>
  <select 
    id="uniqueTeams" 
    [(ngModel)]="selectedTeamName" 
    (change)="onTeamSelect()">
    <option value="">-- Choose a team --</option>
    <option *ngFor="let team of teamNamesFromSearch" [value]="team">
      {{ team }}
    </option>
  </select>
</div>
