<table *ngIf="this.currentBowlers.bowlers.length > 0">
    <thead>
        <th><h3>Bowling</h3></th>
        <th>O</th>
        <th>M</th>
        <th>R</th>
        <th>W</th>
        <th>E</th>
    </thead>
    <tr *ngFor="let bowler of this.currentBowlers.bowlers" class="bowler"
        [ngClass]="{'on-strike': bowler.currentPlayer=='BowlOn'}">
        <td class="name">{{bowler.playerName}} <span nowrap="nowrap">{{bowler.playerSurname}}<span
                    *ngIf="bowler.currentPlayer=='BowlOn'">*</span></span></td>
        <td>{{bowler.oversBowled}}</td>
        <td>{{bowler.maidensBowled}}</td>
        <td>{{bowler.runsAgainst}}</td>
        <td>{{bowler.wickets}}</td>
        <td>{{bowler.bowlingEconomyRate | number:'1.1-1'}}</td>
    </tr>
</table>